*.cache
ThePrincessBard.suo
*.xnb
*.pdb
*.exe
ThePrincessBard/ThePrincessBard/obj/x86/Debug/cachefile-{625BE523-7321-4FB4-AA8C-378716583CE4}-targetpath.txt
*.csproj
ThePrincessBard/ThePrincessBard/obj/x86/Debug/ThePrincessBard.csproj.FileListAbsolute.txt
*.cachefile
ThePrincessBard/ThePrincessBardContent/obj/x86/Debug/ContentPipeline.xml
*.contentproj
ThePrincessBard/ThePrincessBard/bin/x86/Debug/Content/Levels/0.txt
ThePrincessBard/ThePrincessBard/bin/x86/Debug/Content/Levels/1.txt
ThePrincessBard/ThePrincessBard/bin/x86/Debug/Content/Levels/2.txt
ThePrincessBard/ThePrincessBard/bin/x86/Debug/ThePrincessBard.exe.manifest
*.manifest
ThePrincessBard/ThePrincessBard/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
*.application
ThePrincessBard/ThePrincessBardContent/Levels/XMLtest.txt
ThePrincessBard/ThePrincessBardContent/Levels/XMLtest.xml
ThePrincessBard/ThePrincessBardContent/obj/x86/Debug/ThePrincessBardContent.contentproj.FileListAbsolute.txt
ThePrincessBard/ThePrincessBardContent/Graphics/font.xcf
ThePrincessBard/ThePrincessBard/bin/x86/Debug/TestTileGroup.xml
ThePrincessBard/ThePrincessBardContent/Levels/TestTileGroup.xml